@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100%;
	color: #ededed;

	@apply  bg-starlight;
	
	background-size: cover;
	background-repeat: no-repeat;
}

p {
	display: flex;
	text-align: center;

	@apply text-lg leading-8;
}
